@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

$background: #1C1A3F;
$text: #ffffff;

@function vw($px, $base-vw: 740px) {
    @return #{$px * 100vw / $base-vw};
}

* {
    margin: 0px;
    padding: 0px;
    color: $text;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    
    font-size: vw(16px, 320px);

    @media screen and (min-width: 526px) {
        font-size: vw(20px);
    }

    @media screen and (min-width: 1024px) {
        font-size: 20px;
    }
}

b {
    font-size: inherit;
    line-height: inherit;
    font-weight: 700;
}

body {
    background: $background;
    overflow-x: hidden;
}

.page {
    margin: 0px auto;

    max-width: vw(290px, 320px);

    @media screen and (min-width: 526px) {
        max-width: vw(700px);
    }

    @media screen and (min-width: 1024px) {
        max-width: 1024px;
    }
}

.article {
    padding-top: vw(328px);

    @media screen and (min-width: 526px) {
        padding-top: vw(424px);
    }

    @media screen and (min-width: 1024px) {
        padding-top: 432px;
    }

    &_preview {
        max-width: 1920px;
        width: 100vw;
        position: absolute;
        left: 0px;

        transform: translateY(vw(-328px));
        height: vw(300px);

        @media screen and (min-width: 526px) {
            transform: translateY(vw(-424px));
            height: vw(400px);
        }
    
        @media screen and (min-width: 1024px) {
            transform: translateY(-432px);
            height: 400px;
        }

        @media screen and (min-width: 1920px) {
            left: calc(50vw - 960px);
        }

        img {
            width: inherit;
            max-width: inherit;
            height: inherit;
            vertical-align: bottom;
            object-fit: cover;
            background: rgba($color: #ffffff, $alpha: 0.3);
        }
    }

    &_title {
        font-weight: 700;

        font-size: vw(24px, 320px);
        margin-bottom: vw(24px, 320px);

        @media screen and (min-width: 526px) {
            font-size: vw(28px);
            margin-bottom: vw(28px);
            width: 80%;
        }
    
        @media screen and (min-width: 1024px) {
            font-size: 32px;
            margin-bottom: 32px;
            width: 60%;
        }
    }

    &_paragraph {
        line-height: 130%;
        
        margin-bottom: vw(20px, 320px);

        @media screen and (min-width: 526px) {
            margin-bottom: vw(24px);
        }
    
        @media screen and (min-width: 1024px) {
            margin-bottom: 24px;
        }
    }

    &_h2 {
        font-size: vw(20px, 320px);
        margin-bottom: vw(4px, 320px);

        @media screen and (min-width: 526px) {
            font-size: vw(28px);
            margin-bottom: vw(8px);
        }
    
        @media screen and (min-width: 1024px) {
            font-size: 28px;
            margin-bottom: 8px;
        }
    }

    &_h3 {
        font-weight: 500;

        font-size: vw(16px, 320px);
        margin-bottom: vw(8px, 320px);

        @media screen and (min-width: 526px) {
            font-size: vw(20px);
            margin-bottom: vw(12px);
        }
    
        @media screen and (min-width: 1024px) {
            font-size: 20px;
            margin-bottom: 12px;
        }
    }

    &_img {
        display: block;
        margin: 0px auto;
        
        width: 100%;
        
        margin-bottom: vw(20px, 320px);

        @media screen and (min-width: 526px) {
            margin-bottom: vw(24px);
        }

        @media screen and (min-width: 1024px) {
            width: 800px;
            margin-bottom: 24px;
        }

        img {
            vertical-align: bottom;
            width: inherit;
            height: auto;
            border-radius: vw(8px, 320px);

            @media screen and (min-width: 526px) {
                border-radius: vw(12px);
            }

            @media screen and (min-width: 1024px) {
                border-radius: 12px;
            }
        }
    }
}